        h1 {
            font-size: 200%;
            background-color: orange;
        }

        p1 {
            font-size: 150%;  
            color: black; 
            background: rgb(255, 145, 0);
            border-radius: 25px;
            padding: 5px;
        }

        p2 {
            font-size: 30px;
        }

        h2{
            color: gainsboro;
            background-color: ghostwhite;
            font-size: 12px;
        }

        h3{
            font-size: 15px;
        }

        h5{
            font-size: 50px;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 90%;
        }

        th {
            border: 1px solid #b4b4b4dd;
            text-align: center;
            padding: 10px;
            background-color: black;
        }

        td {
            border: 1px solid #b4b4b4dd;
            text-align: left;
            padding: 30px;
        }

        tr:nth-child(even) {
            background-color: #e4e4e4dd;
          }

        #Event {
            color: black;
            background: red;
            width: 60%;
        }

        #MON{
            color: yellow;
        }

        #TUE{
        color: pink;
        }

        #WED{
            color: greenyellow;
        }

        #THU{
            color: orange;
        }

        #FRI{
            color: lightskyblue;
        }

        #SAT{
            color: darkviolet;
        }

        #SUN{
            color:red;
        }

        #Free {
            color: darkblue;
            background-color: aqua;
        }